@charset "UTF-8";

@import url(/fonts/fonts.css);

:root {
   --railway: Railway, Futura, "Century Gothic", Geneva, Tahoma, Verdana, sans-serif;
   --serif: Didot, Palatino, "Palatino Linotype", Gentium, serif;
}

a {
   text-decoration: none;
}

a:link {
   color: rgb(120, 90, 60);
}

a:visited {
   color: rgb(60, 90, 120);
}

a:hover {
   bottom: 1px;
   position: relative;
   text-decoration: underline;
}

a:active {
   color: rgb(90, 90, 90);
}

body {
   background-color: rgb(225, 240, 255);
   color: rgb(0, 15, 30);
   font-family: var(--serif);
}

h1 {
   color: rgb(90, 0, 45);
   font-family: var(--railway);
   font-size: 250%;
}

label {
   display: block;
}

.app-area, .options-area {
   align-items: flex-start;
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   justify-content: flex-start;
}

::selection {
   background-color: rgb(255, 255, 255);
}
