@charset "UTF-8";

a {
   text-decoration: none;
}

a:link {
   color: #806040;
}

a:visited {
   color: #406080;
}

a:hover {
   bottom: 1px;
   position: relative;
   text-decoration: underline;
}

a:active {
   color: #606060;
}

body {
   background-color: #ddeeff;
   color: #001122;
   font-family: Didot, Palatino, "Palatino Linotype", serif;
}

canvas#universe, body > fieldset {
   float: left;
}

label {
   display: block;
}

.bigtop {
   color: #660033;
   font-family: Futura, "Century Gothic", Geneva, Tahoma, Verdana, Arial, sans-serif;
   font-size: 250%;
   font-weight: bold;
}

::selection {
   background-color: #ffffff;
}
